@{ 
    ViewBag.Title = "CSPCall";
}

<hr />
    <div>
        <ul style="line-height:30px">
            <li>
                <a href="@Url.Action("CallList","CSPCall")">Call List</a>
            </li>
            <li>
                <a href="@Url.Action("CallProcess","CSPCall")">Start Add Call Process</a>
            </li>
        </ul>
    </div>

